@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<PhotoWEB.Models.User>
@{
    ViewData["Title"] = "Список пользователей";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-controller="Home" asp-action="Create">Добавить</a>
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Username</td>
        </tr>
    }
</table>