@model PhotoWEB.Models.ViewsModels.RegisterModel
@{
    ViewData["Title"] = "SignIn";
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link href="signin.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        
        <form class="row" style="margin-top: 10vh" method="post">
            <div class="col-lg-5">

            </div>
            <div class="col-lg-2">
                <p>
                    <input type="email" id="email" name="Email" class="signinpart" placeholder="Email">
                </p>
                <p>
                    <input type="text" id=FirstName name="FirstName" class="signinpart" placeholder="First name">
                </p>
                <p>
                    <input type="text" id=SecondName name="SecondName" class="signinpart" placeholder="Second name">
                </p>
                <p>
                    <input type="text" id=ThirdName name="ThirdName" class="signinpart" placeholder="Third name">
                </p>
                <p>
                    <input type="date" id=birthdate name="BirthDate" class="signinpart" placeholder="Birth date">
                </p>
                <p>
                    <input type="text" id=description name="Description" class="signinpart" placeholder="Description">
                </p>
                <p>
                    <input type="password" id="password" name="Password" class="signinpart" placeholder="Password">
                </p>
                <p>
                    <input type="password" id="password" name="RepeatPassword" class="signinpart" placeholder="Repeat password">
                </p>
                <p>
                    <input type="submit" class="btn btn-danger">
                </p>
            </div>
            <div class="col-lg-5">

            </div>
        </form>
    </div>
</body>
</html>