@model PhotoWEB.Models.DBmodels.ViewsModels.AlbumDeleteModel
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
    <title>Apply Dialog</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
</head>
<body>
    <div class="container-fluid">
        <form class="row" style="margin-top: 45vh" method="post">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
                <p>
                    <input type="hidden" value="@Model.AlbumID"/>
                </p>
                <p>
                    <select name="DeletePhotos">
                        <option value="Yes" >Yes</option>
                        <option value="No" selected="selected">No</option>
                    </select>
                </p>
                <p>
                    <input type="submit" class="btn btn-danger">
                </p>
            </div>
            <div class="col-lg-5">
            </div>
        </form>
    </div>
</body>