
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <title>User Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <form class="col-lg-10">
                <h2>User Search</h2>
                <p>
                    <input name="Email" type="text" placeholder="Email" />
                </p>
                <p>
                    <input name="FirstName" type="text" placeholder="FirstName" />
                </p>
                <p>
                    <input name="SecondName" type="text" placeholder="SecondName" />
                </p>
                <p>
                    <input name="ThirdName" type="text" placeholder="ThirdName" />
                </p>
                <p>
                    <input name="DateBirth" type="datetime" placeholder="DateBirth" />
                </p>
                <p>
                    <input name="Description" type="text" placeholder="Description" />
                </p>
                <input type="submit">
            </form>
            <div class="col-lg-1"></div>
        </div>
    </div>

</body>