#mainframe{
    margin-left: 2em;
}
#description{
    background-color: #ffeeff;
    height: 120px;
    width: 500px;
}
#photos{
    margin-top: 20px;
    background-color: #f0eeff;
    height: 200px;
    width: 750px;
}
#albums{
    margin-top: 20px;
    background-color: #f0ffff;
    height: 200px;
    width: 750px;
}
.img_icon {
    margin-top: 25px;
    max-height: 200px;
    max-width: 300px;
}
.album_icon{
    margin-top: 25px;
    max-height: 200px;
    max-width: 300px;
}