
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html>
<head>
    <title>userpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/userpage.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div id="mainframe" class="col-lg-10">
                <p>
                    <h2>
                        Model.FirstName Model.SecondName Model.ThirdName
                    </h2>
                </p>
                <div class="row">
                    <p>
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-10 h4">
                            Description
                        </div>
                        <div class="col-lg-1">

                        </div>
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                        <div id="photos" class="col-lg-10">
                            <table>
                                <tr>
                                    <td>
                                        <img class="img_icon" src="~/images/1.png">
                                    </td>
                                    <td>
                                        <img class="img_icon" src="~/images/2.png">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                        <div id="albums" class="col-lg-10">
                            <table>
                                <tr>
                                    <td>
                                        <img class="album_icon" src="~/images/3.png">
                                    </td>
                                    <td>
                                        <img class="album_icon" src="~/images/4.png">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
   

</body>
</html>